.comment-count {
  float: right;
}

.comments {
  display: none;
}

.show {
  display: unset;
}

.hide {
  display: none;
}

.date {
  float: right;
}

.delete-comment {
  position: absolute;
}

#signup {
  margin: 20px 10%;
}
